/* Style sheet to style the genetionral layout of the app using parameters from parameters.css*/

/* 0. Layout metrics */
/* 1. Universal internal border-box sizing   */
/* 2. Main background layout including background image */
/* Q. Media Queries */
/* ************************************* */

/* 0. Layout metrics */



/* 1. Universal settings   */

/* Internal border-box sizing   */ 
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/* Remove body padding and margins*/
body {
    margin: 0;
    padding: 0;
}


/* 2. Main background layout including background image */

html {
    background-image: url(../images/beach-969s.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* Q. Media Queries */

@media screen 
and ((((orientation: portrait) 
    and (min-height: 967px) 
    and (max-height: 1440px)))
    or  
    (((orientation: landscape) 
    and (min-width: 967px) 
    and (max-width: 1440px)))) {
    html {
        background-image: url(../images/beach-1440s.jpg);
    }
}

@media screen 
and (orientation: landscape) 
    and (min-width: 1441px) {
    html {
        background-image: url(../images/beach-1920w.jpg);
    }
}